USE [DataFoundryDB]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 16-06-2020 23:17:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

GO
INSERT [dbo].[tblUser] ([UserId], [FirstName], [LastName], [Email]) VALUES (1, N'harsh sureshh', N'sharma', N'myselfharshsharma@gmail.com')
GO
INSERT [dbo].[tblUser] ([UserId], [FirstName], [LastName], [Email]) VALUES (2, N'ashutosh', N'sharma', N'ashutosh@gmail.com')
GO
INSERT [dbo].[tblUser] ([UserId], [FirstName], [LastName], [Email]) VALUES (5, N'hiritik', N'roshan', N'hritik@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
